@font-face {
    font-family: 'Gan';
    src: url('../fonts/ganclm_bold-webfont.eot');
    src: url('../fonts/ganclm_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ganclm_bold-webfont.woff') format('woff'),
    url('../fonts/ganclm_bold-webfont.ttf') format('truetype'),
    url('../fonts/ganclm_bold-webfont.svg#gan_clmbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Yanone';
    src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
    src: url('../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
    url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
    url('../fonts/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bar .button{
    min-height: 35px;
}

.card > .letter-item{
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.card > .letter-item:active{
     border: 2px solid;
}

.ion-play{
    cursor: pointer;
    margin-right: 10px;
    line-height: 0px;
    min-height: 0px;
    min-width: 0px;
}

.word-definition, .word-definition *{
    font-family: 'Gan';
    color: black;
    font-size: 20px;
}

.word-definition:not(.back),.word-word:not(.front){
    position: relative;
    top:15px;
}

.word-word, .word-word *{
    font-family: 'Yanone';
    font-size: 25px;
}

.toggle{
    margin-right: 10px;
}

.word-item , .letter-item{
    padding: 10px;
}
.my-word {
    font-weight: bold;
}
.my-word p {
    color: black;
}

.clear-search {
    cursor: pointer;
}

.ion-ios7-close{
font-size: 25px;
}

.item.activated {
    background-color: white;
}

.play-button, .loading-sound{
    width:24px;
    height: 24px;
    float:left;
}

.word-p{
    float:left;
    margin-left: 10px;
}
.list .word-item{
    left: 0;
    right: 0;
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%); /* W3C */
}

.favorite{
    font-size: 30px;
    margin: -3px 8px 0px 0px;
    float:left;
    width:23px;
}

.happyicon{
    font-size: 30px;
    margin: -3px 1px 8px 8px;
    float:left;
    width:23px;
}

.happy{
    color:green;
}

.profile{
   text-align: center;
}

.direction-btn{
    margin-right: 10px;
}
/*test tab*/
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
}

.word-container{
    height: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    max-width: 100px;
}


div[flip-toggle]{
    height:200px;
}
.card-index{
    height:50px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    border: double;
}

.shuffle-button, .reset-button{
    width: 100%;
    height:50px;
    text-align: center;
    float: left;
    margin:0 5px 30px 0;

}

.special-checkbox {
    float: left;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 0;
}

.item-checkbox {
    padding-left: 0;

}

.special-checkbox .item-checkbox{
    padding-left: 50px;
}

.word-buttons-in-card{
    position: absolute;
    left: 2px;
    top: 0;
}
.word-buttons-in-card *{
    float: none !important;
}

.local-word-input{
    text-align: center;
    margin-bottom: 10px;
}

.local-words-error{
    text-align: center;
}

.add-word-button{
    margin-left: 10px;
}

.settings-button{
    margin-right: 10px;
    margin-left: 10px;
}

.intro-icon {
    font-size: 30px;
    width: 23px;
    margin-right: 5px;
    display: inline-block;
    float: none;
}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    left:auto;
    top: 5px;
    color: #bbb;
}

.myitem{
    left:0;
    right:0;
}

.myitem p{
    color: black; !important;
}

.myitem.activated{
    border-color: #ddd;
}

.myitem .ion-ios7-star{
   color: #eec109;
    font-size: 20px;
    position: absolute;
    left: 10px;
    top:10px;
}

.vis-hidden{
    visibility: hidden;
}

.ion-android-close{
    position: absolute;
    right: 10px;
    top:0px;
    font-size: 15px;
    padding: 10px;
    color:red;
}


.vis-hidden-remove,.vis-hidden-add {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

.vis-hidden,.vis-hidden-add.vis-hidden-add-active {
    opacity:0;
}


.vis-hidden-remove.vis-hidden-remove-active {
    opacity:1;
}

button.button:not(.input-button){
    background-color: #4a87ee !important;
    color:#ffffff !important;
}

.card{
    width:100%;
    display: inline-table;
    box-shadow: 0 1px 4px #4a87ee;
    -webkit-box-shadow: 0 1px 4px #4a87ee;
    -moz-box-shadow: 0 1px 4px #4a87ee;
}
.card:not(.testcard){
    background-color: #4a87ee !important;
    color:#000 !important;
}


.move-right-add {
    -webkit-animation:0.5s right-to-left;
}

@-webkit-keyframes right-to-left {
    from { left:100%; }
    to { left:0; }
}

.move-left-add {
    -webkit-animation:0.5s left-to-right;
}

@-webkit-keyframes left-to-right {
    from { right:100%; }
    to { right:0; }
}

.testcard{
    margin:0;
}