<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.melman.psycholish"
        versionCode = "10"
        version     = "1.1.0">

    <name>Psycholish</name>

    <description>
        English Dictionary for the Psychometric Entrance Test
    </description>

    <author email="yohav3@gmail.com">
        Yoav Melman
    </author>

    <preference name="permissions" value="none"/>
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />


    <gap:plugin name="org.apache.cordova.media"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />


</widget>