<ion-view title="בחינה עצמית" class="padding">
    <ion-nav-buttons>
        <button class="button button-positive settings-button"
                ng-click="changeOrder()">
            <i class="icon ion-settings"></i>
        </button>
    <button class="button direction-btn"
            ng-click="changeOrderDirection()">
        <i class="icon" ng-class="{'ion-arrow-up-c': orderUp,'ion-arrow-down-c': !orderUp}"></i>
    </button>
    </ion-nav-buttons>
    <ion-content>
            <div class="row">
                <div class="col">
                    <flip flip-toggle horizontal ng-swipe-right="back()" ng-swipe-left="next()">
                        <flip-front>
                            {{words[index].word}}
                            <word-buttons word="words[index]" words="words" show-favorite="false" ng-if="words.length" class="word-buttons-in-card"></word-buttons>
                        </flip-front>
                        <flip-back dir="rtl">
                            {{words[index].definition}}
                        </flip-back>
                    </flip>
                </div>
            </div>
        <div>
                <div class="row">
                        <div class="col col-100">
                            <div class="card-index">
                                {{words.length ? (index+1) : 0}} / {{words.length || '0'}}
                            </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col col-50">
                            <ul class="list special-checkbox">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input ng-click="changeSpecial('personal');" type="checkbox">
                                    </label>
    מילים אישיות
                                </li>
                            </ul>
                         </div>
                    <div class="col col-50">
                            <ul class="list special-checkbox">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input ng-click="changeSpecial('favorites');" type="checkbox">
                                    </label>
                                    מועדפים
                                </li>
                            </ul>
                        </div>
                        </div>
                 </div>

            <div class="row">
                <div class="col col-33">
                        <button ng-click="shuffle()" class="button button-calm shuffle-button">ערבוב</button>
                </div>
                <div class="col col-33">
                        <button ng-click="deleteAll()" class="button button-calm reset-button">אפס</button>
                </div>
                <div class="col col-33">
                    <button ng-click="chooseAll()" class="button button-calm reset-button">הכל</button>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="row in rows">
            <div class="col col-25" ng-repeat="letter in row">
                <ul class="list">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input ng-click="changeLetter(letter);" type="checkbox">
                        </label>
                        {{letter}}
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>